.item-name {
  margin: 10px 0px 20px 0px;
  font-weight: 500;
  font-size: 2em;
}

.description {
  margin: 0px 20px 20px 20px;
  font-size: 1em;
}

.reviews {
  font-weight: 500;
  font-size: 1.2em;
}

.ratings {
  height: 100vh;
}

.heading {
  font-size: 20px;
}

.all-review {
  height: 100vh;
}

.user-review {
  margin-top: 10px;
}
.name {
  font-family: "Amazon Ember", Arial, sans-serif;
}

.reviewer-summary {
  font-weight: 700;
  font-size: 13px;
}
.reviewer-rating {
  font-size: 13px;
}

.reviewer-description {
  font-size: 13px;
}
