#title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkslategrey;
}

.grocery-item {
  border-radius: 6px;
}

.quantity input {
  width: 45px;
  height: 26px;
}

.item {
  display: inline-block;
  text-align: center;
}

.name {
  font-weight: 700;
}

.quantity {
}

.inventory {
}

.rate {
  color: #b12704;
  font-weight: 700;
}

.subtotal {
  font-weight: 700;
  color: #b12704;
}

.quantity-header {
}

.name-header {
  width: 392px;
  font-weight: 700;
}

.inventory-header {
}

.rate-header {
  color: #b12704;
  font-weight: 700;
}

.subtotal-header {
  color: #b12704;
}
.total-row {
  font-weight: 700;
  padding: 20px;
}
.item-count {
  display: inline-block;
  text-align: center;
}
.item-total {
  display: inline-block;
  text-align: center;
}
.item-total-value {
  color: #b12704;
  font-weight: 700;
}
